%h1= @contest.name
%p
  %b Start date:
  = @contest.start_date
%p
  %b End date:
  = @contest.end_date

- if can? :edit, @contest
  %p
    %b Registration fee cents:
    = @contest.registration_fee_cents

- if can? :edit, @contest
  = link_to 'Edit', edit_contest_path(@contest)

%h2 Weeks

%table.table.table-striped
  %tr
    %th Week
    %th Winner
    %th Average Up
    %th Average Down
    %th Average Total

  - @contest.contest_weeks.each do |week|
    %tr
      %td= "#{week.contest_week}. #{week.start_date}"
      %td= week.contestant.full_name if week.contestant.present?
      %td= week.average_extended_value_up
      %td= week.average_extended_value_down
      %td= week.average_extended_value_total
