%h1= @contest.name
%p
  %b Start date:
  = @contest.start_date
%p
  %b End date:
  = @contest.end_date

- if can? :edit, @contest
  %p
    %b Registration fee cents:
    = @contest.registration_fee_cents

- if can? :edit, @contest
  = link_to 'Edit', edit_contest_path(@contest)

%h2 Totals
%table.table.table-striped
  %tr
    %th Total Up Flights
    %th Total Down Flights
    %th Total Flights
  %tr
    %td= @contest.up
    %td= "#{@contest.down} (#{@contest.down_extended})"
    %td= @contest.total


%h2 Weeks

%table.table.table-striped#winners
  %tr
    %th.week Week
    %th.winner Winner

  - @contest.contest_weeks.each do |week|
    %tr
      %td= "#{week.contest_week}. #{week.start_date}"
      %td= link_to(week.contestant.display_name, contestant_path(week.contestant)) if week.contestant.present?
