= form_for @badge, :html => {class: 'form-horizontal'} do |f|
  - if @badge.errors.any?
    #error_explanation.alert-block.alert-error
      %h2= "#{pluralize(@badge.errors.count, "error")} prohibited this badge from being saved:"
      %ul
        - @badge.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name
  .control-group
    = f.label :description, class: 'control-label'
    .controls
      = f.text_area :description
  .control-group
    .controls
      .actions
        = f.submit 'Save', class: 'btn btn-primary'
