.navbar.navbar-fixed-top
  .navbar-inner
    .container
      =link_to "Stair Challenge", root_path, {:class => 'brand'}
      .nav-collapse
        %ul.nav
          - if current_user
            - if can? :manage, Contest
              %li= link_to "Contests", contests_path
            %li
              = link_to new_measurement_path do
                %i.icon-plus-sign
                Add Flights
            %li
              = link_to current_user do
                %i.icon-user
                My Profile
            %li
              = link_to leaderboard_contest_path(current_user.contest) do
                %i.icon-list
                Leaderbord
            %li
              = link_to rules_contest_path(current_user.contest.id) do
                %i.icon-bullhorn
                Rules
            %li= link_to "Logout #{current_user.email}", :logout
          - else
            %li= link_to "Sign up", new_contestant_path        
            %li= link_to "Login", :login

