.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = button_tag :type => 'button', :class => 'btn btn-navbar collapsed', :'data-toggle' => 'collapse', :'data-target' => '.nav-collapse' do
        .icon-bar
        .icon-bar
        .icon-bar

      =link_to "Stair Challenge", root_path, {:class => 'brand'}
      
      .nav-collapse
        %ul.nav
          - if current_user
            - if can? :manage, Contest
              %li= link_to "Contests", contests_path
            %li
              = link_to new_measurement_path do
                %i.icon-plus-sign
                Add Flights
            %li.dropdown
              = link_to '#', class: 'dropdown-toggle', :'data-toggle' => 'dropdown' do
                %i.icon-user
                My Profile
                %ul.dropdown-menu
                  %li
                    = link_to current_user do
                      My Profile
                  %li
                    = link_to contest_path(current_user.contest) do
                      Contests


            %li
              = link_to leaderboard_contest_path(current_user.contest) do
                %i.icon-list
                Leaderboard
            %li
              = link_to talks_path do
                %i.icon-trash
                Trash Talk
            %li
              = link_to rules_contest_path(current_user.contest.id) do
                %i.icon-bullhorn
                Rules
            %li= link_to "Logout #{current_user.email}", :logout
          - else
            %li= link_to "Sign up", new_contestant_path        
            %li= link_to "Login", :login

